# Build-Resultate
bin/
obj/
out/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# Rider/VSCode/Visual Studio
.vscode/
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Angular UI ignores
PaperlessUI/node_modules/
PaperlessUI/dist/
PaperlessUI/.angular/
PaperlessUI/.vscode/

# OCR testdata ignores
PaperlessOCR/tessdata
PaperlessOCR/x64
PaperlessOCR/x86

.vs/Paperless/v17

# REST ignores
PaperlessREST/obj/Debug/net8.0/

# Logs
*.log

# Paket-Manager
*.nupkg
*.snupkg
packages/
*.nuspec

# NuGet
project.lock.json
project.fragment.lock.json
artifacts/

# Cache / temporär
*.tmp
*.temp
*.pidb
*.svclog
*.pid
*.cache
*.dbmdl

# Publishes
publish/
AppPackages/
BundleArtifacts/

# User secrets / sensitive Daten
secrets.json
appsettings.json
.env
appsettings.Development.json

# Entity Framework
Migrations/

# Sonstige Tools
_ReSharper*/
*.DotSettings.user
*.DotSettings

# Visual Studio Code Coverage
*.coverage
*.coveragexml
TestResult*/
/secrets.env
/PaperlessREST/appsettings.Development.json
/.vs/Paperless/v17/DocumentLayout.backup.json
/.vs/Paperless/v17/DocumentLayout.json
/.vs/Paperless/v17/.suo
/.vs/slnx.sqlite
